:root {
  --color-text-1: #323232;
  --color-text-2: #167FFB;
  --color-text-3: #66747e;
  --color-text-white-1: #fff;
  --color-btn-1: #167FFB;
  --color-btn-2: #3E3E3E;
  --color-btn-3: #167FFB;
  --color-btn-4: #d0e9ff;
  --color-btn-deactive-1: #F7F7F7;
  --color-border-1: #C7D0D9;
  --color-border-2: #66747e;
  --color-border-3: #167ffb;;
  --color-bg-1: #F7F7F7;
  --color-bg-2: #d0e9ff;
  --color-bg-white-1: #fff;
  --color-active: #167FFB;
  --color-warning: #ffad0f;
  --color-alert: #e00000;
  --color-no-error: #47dc68;
  --color-no-error-light: #C2EDC6;
  --color-ready: #2aba4a;
  --color-error: #e00000;
  --height-header: 60px;
}

// // v2

// :root {
//   --color-text-1: #323232;
//   --color-text-2: #8A7FEE;
//   --color-text-white-1: #fff;
//   --color-btn-1: #8A7FEE;
//   --color-btn-2: #3E3E3E;
//   --color-btn-deactive-1: #F7F7F7;
//   --color-border-1: #C7D0D9;
//   --color-bg-1: #F7F7F7;
//   --color-bg-2: #dec9ff;
//   --color-bg-white-1: #fff;
//   --color-active: #A88DEA;
//   --color-warning: #f8ba0e;
//   --color-alert: #db4537c9;
//   --color-no-error: #84FF82;
//   --color-error: #F93F3F;
//   --height-header: 90px;
// }